.home {

    header {
      margin-top: 20px;
    }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (@mobile) {
      max-width: 480px;
      width: 100%;
      flex-flow: column nowrap;


    }
    
    .text-content {
      width: 48%;
      padding-right: 1%; 
        @media (@mobile) {
          max-width: 480px;
          width: 100%;
        }

    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;

        @media (@mobile) {
          max-width: 480px;
          width: 100%;
          
        }
      }

      @media (@mobile) {
        max-width: 480px;
        width: 100%;
        padding-left: 0;
      }

    
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }

    @media (@mobile) {
      .img-content {
        order: 1;
      }
      
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    @media (@mobile) {
      max-width: 480px;
      width: 100%;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

        .btn {
          padding: 13px 30px;
          border-radius: 12px;
          width: 80%;
          font-weight: bold;
          text-align: center;
          .custom-btn(@main-bg, @button-bg, 19px);

          @media (@mobile) {
            width: 100%;
          }
        }

        .btn:hover {
          cursor: pointer;
          .animate(morph, 3s, 1);
          color: @button-bg;
          background-color: @navigation-border;
          .border(2px, solid, black);
        }

        @media (@mobile) {
          max-width: 400px;
          width: 100%;
        }
    }

    @media (@mobile) {

      flex-flow: column nowrap;
      align-items: center;
      
    }
  }
}// home