// Mixins in here

.testbox (@color) {
    border: 2px solid @color;
}

.custom-layout (@display, @justify, @align) {
    display: @display;
    justify-content: @justify;
    align-items: @align;
}

.custom-btn (@btncolor, @btnbgcolor, @btnfontsize) {
    color: @btncolor;
    background-color: @btnbgcolor;
    font-size: @btnfontsize;
}

.animate (@name, @duration, @iteration) {
    animation-name: @name;
    animation-duration: @duration;
    animation-iteration-count: @iteration;
}

.border (@bordSize, @bordStyle, @bordColor) {
    border: @bordSize, @bordStyle, @bordColor;
}